BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Right
AccessModifierOffset: -4
NamespaceIndentation: Inner
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true
SpaceAroundPointerQualifiers: After
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
DerivePointerAlignment: false
BreakConstructorInitializers: AfterColon
SpaceBeforeParens: ControlStatements
