# GNU Autotools
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*.a
*.o
*~

# Doxygen output
/html/

# The example
/vsqlitepp_example

# Build files
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/install-sh
/build-aux/missing
/build-aux/depcomp
/build-aux/ltmain.sh

/debian/.debhelper/*
/debian/autoreconf.after
/debian/autoreconf.before
/debian/*.log

# The test database made during build.
test.db
